.col {
    transition: all 0.3s;
}

.col:hover {
    transform: scale(1.15);
}

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

/* Custom star */
.star {
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    transition: color 0.3s;
}

/* Change color when checked */
input[type="checkbox"]:checked + .star {
    color: gold;
}