{% extends "layout.html" %}

{% block navbar_class_library %} active {% endblock %}

{% block title %} Exercises {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/exercises">Movements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workouts">Workouts</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="/favourites">Favourites</a>
          </li>
        <form class="d-flex ms-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <main class="col-md-12 ms-sm-auto col-lg-12 px-md-3">
    <div class="content">
      
    
  <p></p>
  <p>Here you will find a comprehensive video library for the functional movements we use in MoveForward.</p>
  <p>At the top are CrossFit’s nine foundational movements. These will help you develop the skills you need to tackle the long list of functional movements we cover in class.</p>
  <p>A rotation of constantly varied functional movements in our workouts is an essential part of the CrossFit methodology. The more movements you adopt from the list, the greater the level of fitness you will ultimately forge. This should be looked at as a life-long pursuit and well worth the effort. Enjoy!</p>
  <br>
  <br>

  <figure class="text-start">
    <h3>THE SQUATS</h3>
  </figure>
  <br>
  <br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="/static/Assets/air-squat-768x432.jpeg" class="img-fluid img-thumbnail" alt="Air Squat">
        <p></p>
        <h5 class="text-start">The Air Squat</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/front-squat-768x432.jpeg" class="img-fluid img-thumbnail" alt="Front Squat">
        <p></p>
        <h5 class="text-start">The Front Squat</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/overhead-squat-768x432.jpeg" class="img-fluid img-thumbnail" alt="Overhead Squat">
        <p></p>
        <h5 class="text-start">The Overhead Squat</h5>
      </div>
    </div>
  </div>

  

  <br>
  <br>
  <br>
  <br>

  <figure class="text-start">
    <h3>THE PRESSES</h3>
  </figure>
  <br>
  <br>

  <div class="container text-center"></div>
    <div class="row">
      <div class="col">
        <img src="/static/Assets/shoulder-press-768x432.jpeg" class="img-fluid img-thumbnail" alt="Shoulder Press">
        <p></p>
        <h5 class="text-start">The Shoulder Press</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/PushPress_Male_V4-768x512-1-768x432.jpg" class="img-fluid img-thumbnail" alt="Push Press">
        <p></p>
        <h5 class="text-start">The Push Press</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/PushJerk_V5-768x512-1-768x430.jpg" class="img-fluid img-thumbnail" alt="Push Jerk">
        <p></p>
        <h5 class="text-start">The Push Jerk</h5>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <figure class="text-start">
    <h3>THE DEADLIFTS</h3>
  </figure>
  <br>
  <br>

  <div class="container text-center"></div>
    <div class="row">
      <div class="col">
        <img src="/static/Assets/deadlift-768x432.jpeg" class="img-fluid img-thumbnail" alt="Deadlift">
        <p></p>
        <h5 class="text-start">The Deadlift</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/sumo-deadlift-high-pull-1-768x432.jpeg" class="img-fluid img-thumbnail" alt="Sumo Deadlift">
        <p></p>
        <h5 class="text-start">The Sumo Deadlift High Pull</h5>
      </div>
      <div class="col">
        <img src="/static/Assets/med-ball-clean-768x432.jpeg" class="img-fluid img-thumbnail" alt="Med Ball Clean">
        <p></p>
        <h5 class="text-start">The Med Ball Clean</h5>
      </div>
    </div>
  </div>

</div>
</main>



  
{% endblock %}