{% extends "layout.html" %}

{% block navbar_class_home %} active {% endblock %}

{% block head %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

<script>
  
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar')
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridDay',

      headerToolbar: {
        left: 'today prev,next',
        center: 'title',
        end: 'dayGridMonth,dayGridWeek,dayGridDay'
      },

      events: [
      {% for event in events %}
      {
        title: '{{event.title}}',
        start: '{{event.start}}',
        description: '{{event.extendedProps.description}}'   
      },
      {% endfor %}
      ],

      eventMouseEnter: function(info){
        $(info.el).tooltip({
        title: 'Workout: ' + info.event.title + '\n' + 'Description: ' + info.event.extendedProps.description,
        placement: 'bottom'
        });
      },

      eventClick: function(info){
        alert('Workout: ' + info.event.title + '\n' + 'Description: ' + info.event.extendedProps.description);
      }

  });
    calendar.render();
});

</script>


{% endblock %}

{% block main %}

   <nav class="navbar">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Welcome Back!</a>
        </div>
   </nav>

   <div class="container text-center">
    <div class="row mt-5 mb-5">
      <div class="col mt-5 mb-5">
        <div id="calendar"></div>  
      </div>
      <div class="col mt-5 mb-5">
        <img src="/static/Assets/WOD_Placeholder.jpg" class="img-fluid" alt="WOD_Placeholder">
      </div>
      <div class="col mt-5 mb-5">
        Column 3
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row mt-5 mb-5">
      <div class="col mt-5 mb-5">
        Column 4
      </div>
      <div class="col mt-5 mb-5">
        Column 5
      </div>
      <div class="col mt-5 mb-5">
        Column 6
      </div>
    </div>
  </div>
{% endblock %}