{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <form class="d-flex ms-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </nav>

  <main class="col-md-12 ms-sm-auto col-lg-12 px-md-3">
    <div class="content">

      <h5 class="mt-5 text-center">Personal Details</h5>

      <input class="button mt-5" name="age" placeholder="Age"></input>
      <button type="submit">Update</button>
      <br>
      <input class="button mt-5" name="height" placeholder="Height (m)"></input>
      <button type="submit">Update</button>
      <br>
      <input class="button mt-5" name="weight" placeholder="Weight (kg)"></input>
      <button type="submit">Update</button>

    <table class="table">
      <tablehead> <h5 class="mt-5">Barbell PRs</h5></tablehead>
      <form action="barbells" method="POST">
        <tr>
          <td class="text-start">Deadlift 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_deadlift" value="{{ deadlift1RM }}"> kg</td>
        </tr>
        <tr>
          <td class="text-start">Clean 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_clean" placeholder="Clean 1RM"> kg</input></td>
        </tr>
        <tr>
          <td class="text-start">Snatch 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_snatch" placeholder="Snatch 1RM"> kg</input></td>
        </tr>
        <tr>
          <td class="text-start">Push Press 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_pushpress" placeholder="Push Press 1RM"> kg</input></td>
        </tr>
        <tr>
          <td class="text-start">Push Jerk 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_pushjerk" placeholder="Push Jerk 1RM"> kg</input></td>
        </tr>
        <tr>
          <td class="text-start">Squat Clean and Jerk 1RM</td>
          <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_squat_clean_and_jerk" placeholder="Squat Clean and Jerk 1RM"> kg</input></td>
        </tr>
    </table>
    <button class="mt-2" type="submit">Save</button>
    </form>

    </div>
  </main>
  

{% endblock %}