{% extends "layout.html" %}

{% block navbar_class_profile %} active {% endblock%}

{% block title %} Profile {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-center">Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
  </nav>


  <main class="col-md-12 ms-sm-auto col-lg-12 px-md-3">
    <div class="content">

      <form action="profile" method="POST">

      <table class="table"> 
        <tr>
          <thead><h5 class="mt-5">
            <th colspan="2" class="text-center"></th>
            <h5>Personal Details</h5>
          </thead>
        </tr>
        <tr>
          <td class="text-start align-middle">Age</td>
          <td><input class="form control form-control-sm" type="number" name="age" placeholder="Age" value="{{ current_age if current_age else '' }}"> years</td>
        </tr>
        <tr>
          <td class="text-start align-middle">Height</td>
          <td><input class="form control form-control-sm" type="number" step="0.01" name="height" placeholder="Height (m)" value="{{ current_height if current_height else '' }}"> (m)</td>
        </tr>
        <tr>
          <td class="text-start align-middle">Weight</td>
          <td><input class="form control form-control-sm" type="number" step="0.01" name="weight" placeholder="Weight (kg)" value="{{ current_weight if current_weight else '' }}"> kg</td>
        </tr>
        <tr>
          <td class="text-start align-middle">BMI</td>
          <td>{{bmi}}</td>  
        </tr>
      </table>

    <table class="table">
      <tr>
        <thead> <h5 class="mt-5">Barbell PRs</h5></thead>
      </tr>
      <tr>
        <td class="text-start">Deadlift 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_deadlift" value="{{ current_values['Deadlift 1RM'] if current_values['Deadlift 1RM'] else '' }}"> kg</td>
      </tr>
      <tr>
        <td class="text-start">Clean 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_clean" value="{{ current_values['Clean 1RM'] if current_values['Clean 1RM'] else '' }}"> kg</td>
      </tr>
      <tr>
        <td class="text-start">Snatch 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_snatch" value="{{ current_values['Snatch 1RM'] if current_values['Snatch 1RM'] else '' }}"> kg</td>
      </tr>
      <tr>
        <td class="text-start">Push Press 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_pushpress" value="{{ current_values['Push Press 1RM'] if current_values['Push Press 1RM'] else '' }}"> kg</td>
      </tr>
      <tr>
        <td class="text-start">Push Jerk 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_pushjerk" value="{{ current_values['Push Jerk 1RM'] if current_values['Push Jerk 1RM'] else '' }}"> kg</td>
      </tr>
      <tr>
        <td class="text-start">Squat Clean and Jerk 1RM</td>
        <td><input class="form control form-control-sm" type="number" step="0.25" name="1rep_max_squat_clean_and_jerk" value="{{ current_values['Squat Clean and Jerk 1RM'] if current_values['Squat Clean and Jerk 1RM'] else '' }}"> kg</td>
      </tr>
    </table>
    <button class="btn btn-outline-info mt-2" type="submit">Save</button>
    </form>

    </div>
  </main>
  

{% endblock %}