{% extends "layout.html" %}

{% block navbar_class_library %} active {% endblock %}

{% block title %} Workouts {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/exercises">Movements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/workouts">Hero Wods</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="/favourites">Favourites</a>
          </li>
        <form class="d-flex ms-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <main class="col-md-12 ms-sm-auto col-lg-12 px-md-3">
    <div class="content">

      <p></p>
      <p>Since 2005, CrossFit has posted workouts meant to honor the memories of CrossFit service members who made the ultimate sacrifice and exemplary members of the CrossFit community who are no longer with us. <em>See below for the full list of CrossFit Hero and Tribute Workouts, published in chronological order.</em>.</p>

      <table class="table">
        <thead>
          <tr>
            <th class="text-start" scope="col">Name</th>
            <th class="text-start" scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
        {% for i in range(wodID|length) %}
        <tr>
          <td class="text-start">{{ wodName[i] }}</td>
          <td class="text-start">{{ wodDescription[i] }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</main>
{% endblock %}
